<div class="dashboard-blog-posts--header">
	<h1 class="dashboard-blog-posts--title">
		Blog Posts <span>All blog posts in the database</span>
	</h1>
	<a href="/dashboard/blogs/create">
		<i class="fas fa-plus"></i>
		Add Blog
	</a>
</div>

<table class="dashboard-blog-posts--table">
	<tr>
		<th>Date</th>
		<th>Title</th>
		<th>Author</th>
		<th>Actions</th>
	</tr>
	<% blogs.forEach(blog=> { %>
		<tr>
			<td>
				<%= `${blog.date.getDate()} ${months[blog.date.getMonth()]} ${blog.date.getFullYear()}` %>
			</td>
			<td>
				<%= blog.title %>
			</td>
			<td>
				<%= blog.author %>
			</td>
			<td class="dashboard-blog-posts--actions">
				<a class="dashboard-blog-posts--button dashboard-blog-posts--button__green" data-doc="<%= blog.id %>"
					href="/dashboard/edit-blog/<%= blog.id %>">Edit</a>
				<form class="dashboard-blog-posts--button dashboard-blog-posts--button__red" data-doc="<%= blog.id %>">
					Delete
				</form>
			</td>
		</tr>
		<% }) %>
</table>

<script src="/js/delete-blog.js"></script>