<h1>Dashboard: Users</h1>
<div>
  <% users.forEach(user =>{ %>
    <div style="border: 1px solid blue">
      <p><%= user.username %></p>
      <p><%= user.email %></p>
    <% if (user.role.admin) { %>
      <p>Admin</p>
    <% } else if (user.role.author) { %>
      <p>Author</p>
    <% } %>  
      <ul style="background: #CCC">
        <li><a class="admin" data-doc="<%= user.id %>">Make Admin</a></li>
        <li><a class="author" data-doc="<%= user.id %>">Make Author</a></li>
        <li><a class="delete" data-doc="<%= user.id %>">Delete</a></li>
      </ul>
    </div>
  <% }) %>
</div>
<!-- I will move this into a separate JS file later, this is a work in progress :) -->
<script>
const deleteButton = document.querySelectorAll(".delete");

deleteButton.forEach(button => {
  button.addEventListener("click", (e) => {
    e.preventDefault();
    const id = button.dataset.doc;
    const endpoint = `/dashboard/users/${id}`;
    fetch(endpoint, {
      method: "DELETE"
    })
      .then(response => window.location.reload())
      .catch(err => console.log(err));
  });
})

const adminButtons = document.querySelectorAll(".admin");

adminButtons.forEach(button => {
  button.addEventListener("click", (e) => {
    const id = button.dataset.doc;
    const endpoint = `/dashboard/users/admin/${id}`;
    fetch(endpoint, {
      method: "PATCH"
    })
      .then(response => window.location.reload())
      .catch(err => console.log(err));
  });
});

const authorButtons = document.querySelectorAll(".author");

authorButtons.forEach(button => {
  button.addEventListener("click", (e) => {
    const id = button.dataset.doc;
    const endpoint = `/dashboard/users/author/${id}`;
    fetch(endpoint, {
      method: "PATCH"
    })
      .then(response => window.location.reload())
      .catch(err => console.log(err));
  });
});
  
</script>