<div class="dashboard-header">
	<h1 class="dashboard-header__title">
		Users <span>All users in the database</span>
	</h1>
</div>

<% if (user.role.admin) { %>
<table class="table">
	<thead class="table__header">
    <tr class="table__row">
      <th class="table__head">Username</th>
      <th class="table__head">Email</th>
      <th class="table__head">Admin</th>
      <th class="table__head">Actions</th>
    </tr>
  </thead>

	<% users.forEach(user =>{ %>
	<tr class="table__row">
		<td class="table__data"><%= user.username %></td>
		<td class="table__data"><%= user.email %></td>
		<td class="table__data"><%= user.role.admin ? 'Admin' : 'Author' %></td>
		<td class="table__data">
      <a class="btn btn--dark admin" data-doc="<%= user.id %>">Make Admin</a>
      <a class="btn btn--dark author" data-doc="<%= user.id %>">Make Author</a>
      <a class="btn btn--red delete" data-doc="<%= user.id %>">Delete</a>
		</td>
	</tr>
	<% }) %>
</table>
<% } %>


<script src="/js/users.js"></script>
