<section class="blogs--container">
	<div class="blogs--blog">
		<img
			class="blogs--image"
			src="https://stackify.com/wp-content/uploads/2018/08/Learn_Java_Tutorials-1280x720.png"
			alt="An early logo of ifElseCode"
		/>
		<h1 class="blogs--title"><%= blog.title %></h1>
		<div class="blogs--info">
			<%= `${blog.date.getDate()} ${months[blog.date.getMonth()]}
			${blog.date.getFullYear()}` %> / by
			<span><%= blog.author %></span>
		</div>
        <div class="blogs--content"><%- blog.content %></div>
        <p id="counter"><%= blog.like %></p>
         <button id="myButton"><a href="./<%= blog.id %>">Like</a></button>
     </div>
    </div>
</section>
