<% blogs.forEach(blog => { %>
	
		<p><a href="./blogs/<%= blog.id %>"><%= blog.title %></a></p>
		<p><%= blog.subtitle %></p>
		<p><%= blog.author %></p>
		<p><%= blog.content %></p>
		<p><%= blog.date %></p>
<% }); %>

<!-- <header class="blogs--header">
	<h1>ifElse Top Blogs</h1>
	<i class="far fa-envelope"></i>
</header>

<section class="blogs--container">
	<% for(var i=0; i < 15; i++) {%>
	<div class="blogs--blog">
		<img
			class="blogs--image"
			src="https://stackify.com/wp-content/uploads/2018/08/Learn_Java_Tutorials-1280x720.png"
			alt="An early logo of ifElseCode"
		/>
		<h1 class="blogs--title">
			Web Development beginner students are encouraged to join a study
			group
		</h1>
		<div class="blogs--info">
			Sept 25, 2020 / by
			<span>TrapLocz</span>
		</div>
		<p class="blogs--content">
			This study group filled the empty place of my search of communion
			within Web Development. Beginners of Html, Css, and Js such as
			myself connecting with more experienced people to work together on
			multiple things such as group projects, coding challenges, etc...
		</p>
		<a class="blogs--link" href="#">Read More</a>
	</div>
	<div class="blogs--blog">
		<img
			class="blogs--image"
			src="https://miro.medium.com/proxy/1*rvgZRb5EU2k7Ap8tRYkvDg.png"
			alt="An early logo of ifElseCode"
		/>
		<h1 class="blogs--title">
			Web Development beginner students are encouraged to join a study
			group
		</h1>
		<div class="blogs--info">
			Sept 25, 2020 / by
			<span>TrapLocz</span>
		</div>
		<p class="blogs--content">
			This study group filled the empty place of my search of communion
			within Web Development. Beginners of Html, Css, and Js such as
			myself connecting with more experienced people to work together on
			multiple things such as group projects, coding challenges, etc...
		</p>
		<a class="blogs--link" href="#">Read More</a>
	</div>
	<% } %>
</section> -->
