<h1>Just want to see if this works</h1>
<!-- 
<% blogs.forEach(blog => { %>
	
    <p><%= blog.title %></p>
    <p><%= blog.subtitle %></p>
    <p><%= blog.author %></p>
    <p><%= blog.content %></p>
    <p><%= blog.date %></p>
<% }); %> -->
